<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Milionerzy</title>
    <link rel="stylesheet" href="css/reset.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/style.css">
    <script src="js/jquery/3.0.0/jquery.js"></script>
    <script src="js/main.js"></script>
</head>
<body>

<h1>Milionerzy</h1>

{% if contentWrapperClass is defined %}
<div id="contentWrapper" class="{{ contentWrapperClass }}">
{% else %}
<div id="contentWrapper">
{% endif %}


    
